/* 
 * Global Styles
 */

/* 
 * Body styles
 * 
 * Sets the margin, padding, background color, and display properties for the body element.
 */
 body {
    margin: 0;
    padding: 10%;
    background-color: #d3d4de;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
 * Main container styles
 * 
 * Sets the background color, box shadow, border radius, width, display, and padding properties for the main container element.
 */
#main {
    background-color: white;
    box-shadow: 2px 2px 10px 2px;
    border-radius: 10px;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    height: auto;
}

/* 
 * Input field styles
 * 
 * Sets the position, width, and other properties for the input field element.
 */
#input {
    position: relative;
    width: 100%;
}

/* 
 * Text styles
 * 
 * Sets the position, top, and left properties for the text element.
 */
#text {
    position: absolute;
    top: 28px;
    left: 15px;
}

/* 
 * Search input styles
 * 
 * Sets the box sizing, width, height, background color, border radius, border, font size, and padding properties for the search input element.
 */
#search {
    box-sizing: border-box;
    width: 100%;
    height: 7vh;
    background-color: #d3d4de;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    padding-left: 40px;
    padding-right: 40px;
}

/* 
 * Input placeholder styles
 * 
 * Sets the opacity for the input placeholder.
 */
input::placeholder {
    opacity: 0.4;
}

/* 
 * Input focus styles
 * 
 * Sets the outline property for the input element when focused.
 */
input:focus {
    outline: none;
}

/* 
 * Show task styles
 * 
 * Sets the width, display, and justify content properties for the show task element.
 */
#show-task {
    width: 95%;
    display: flex;
    justify-content: space-between;
    color: #c0c7c4;
}

/* 
 * Horizontal rule styles
 * 
 * Sets the width and opacity properties for the horizontal rule element.
 */
hr {
    width: 95%;
    opacity: 0.15;
}

/* 
 * Footer styles
 * 
 * Sets the display, flex wrap, justify content, and width properties for the footer element.
 */
#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
}

/* 
 * Remaining task styles
 * 
 * Sets the color property for the remaining task element.
 */
#remaining-task {
    color: #c0c7c4;
}

/* 
 * Footer status styles
 * 
 * Sets the display, width, justify content, and color properties for the footer status element.
 */
#footer-status {
    display: flex;
    width: 30%;
    justify-content: space-between;
    color: #c0c7c4;
}

/* 
 * Add button styles
 * 
 * Sets the position, top, and left properties for the add button element.
 */
#add {
    position: absolute;
    top: 28px;
    left: 95%;
    display: none;
}

/* 
 * Cancel button styles
 * 
 * Sets the position and left properties for the cancel button element.
 */
#cancle {
    position: absolute;
    left: 95%;
}

/* 
 * Tasks container styles
 * 
 * Sets the position, display, flex wrap, justify content, and width properties for the tasks container element.
 */
#tasks {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 95%;
    align-items: center;
}

/* 
 * Round task styles
 * 
 * Sets the display, flex wrap, align items, width, height, margin bottom, and box shadow properties for the round task element.
 */
.round {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px 1px;
}

/* 
 * Round task span styles
 * 
 * Sets the font size and margin left properties for the round task span element.
 */
.round span {
    font-size: 1.5rem;
    margin-left: 20px;
}

/* 
 * Checkbox styles
 * 
 * Sets the width, height, border radius, and border properties for the checkbox element.
 */
#checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
}
